<a class="text-decoration-none" href="{% url 'post' projeto.id %}">
  <div class="card">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-sm-12 d-flex">
        {% if projeto.capa %}
          <img src="{{ projeto.capa.url }}" class="mh-100 w-100 m-auto img-fluid rounded-0" alt="{{ projeto.titulo }}" />
        {% endif %}
      </div>

      <div class="col-md-12 col-lg-6 col-sm-12">
        <div class="card-body">
          <h5 class="card-title roxinho2">{{ projeto.titulo }}</h5>
          <p class="card-text">{{ projeto.objetivo }}</p>
        </div>
      </div>
    </div>
  </div>
</a>
