{% extends "base.html" %}
{% load static %}
{% block conteudo %}

<section class="container custom-container my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3 text-center">
            <img src="{% static 'imgs/LogoPPI.svg' %}" alt="Logo" class="img-fluid mw-100">
        </div>
        <div class="col-md-9 text-start">
            <h1 class="text-white">
                Plataforma dos <a class="laranja text-decoration-none">Projetos</a> 
                <a class="roxinho text-decoration-none">Integradores</a>
            </h1>
            <h6 class="text-white">
                A Plataforma dos Projetos Integradores (PPI) é uma iniciativa desenvolvida por alunos do IFRN - Campus São Paulo do Potengi!
                Acreditamos que o conhecimento deve ser compartilhado e valorizado. Por isso, criamos um espaço onde alunos, professores e profissionais do mercado podem se conectar, trocar experiências e fortalecer o aprendizado por meio da colaboração.
            </h6>
        </div>
    </div>
</section>

<!-- Objetivos -->
<section class="blueback shadow-lg">
    <div class="container my-5 py-5">
        <h1 class="text-center mb-4 roxinho text-decoration-none">Nossos objetivos :</h1>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card bg-transparent border-0 shadow-none h-100">
                    <div class="card-body text-center">
                        <img src="{% static 'imgs/1.svg' %}" alt="Registrar" class="mb-3" width="200" height="200">
                        <h3 class="card-title laranja">Registrar</h3>
                        <h6 class="card-text text-white">O sistema irá registrar todos os projetos integradores já feitos, e os que serão criados virão a ser adicionados também.</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-transparent border-0 shadow-none h-100">
                    <div class="card-body text-center">
                        <img src="{% static 'imgs/4.svg' %}" alt="Divulgar" class="mb-3" width="200" height="200">
                        <h3 class="card-title laranja">Divulgar</h3>
                        <h6 class="card-text text-white">Divulgar os projetos para qualquer pessoa interessada, bastando acessar o sistema.</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-transparent border-0 shadow-none h-100">
                    <div class="card-body text-center">
                        <img src="{% static 'imgs/2.svg' %}" alt="Exemplificar" class="mb-3" width="200" height="200">
                        <h3 class="card-title laranja">Exemplificar</h3>
                        <h6 class="card-text text-white">Mostrar aos alunos que ainda não fizeram seu projeto para que assim possam ter uma noção melhor da criação do seu projeto.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Nossa Equipe -->
<div id="carouselMembros" class="carousel slide container" data-bs-ride="carousel">
    <h1 class="text-center roxinho mb-2">Nossa equipe</h1>
    <div class="carousel-inner">
        {% for grupo in equipe %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="d-flex justify-content-center">
                {% for membro in grupo %}
                <div class="card bg-transparent mx-2" style="width: 18rem;">
                    <img src="{{ membro.foto }}" class="card-img-top" alt="{{ membro.nome }}">
                    <div class="card-body text-center">
                        <h5 class="card-title laranja">{{ membro.nome }}</h5>
                        <p class="card-text text-white">{{ membro.vinculo }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Controles do carrossel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMembros" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMembros" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>

<!-- Agradecimento -->
<section class="blueback shadow-lg">
    <div class="container my-5 py-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-start order-md-1">
                <h1 class="text-white">
                    Agradecemos por visitar a nossa plataforma!
                </h1>
                <h5 class="text-white">
                    Agradecemos por visitar nossa plataforma! Esperamos que ela seja uma fonte de inspiração e aprendizado para você. Nosso objetivo é conectar alunos, professores e profissionais, incentivando a troca de experiências e o crescimento coletivo. Seja bem-vindo!
                </h5>
            </div>
            <div class="col-md-3 text-center order-md-2">
                <img src="{% static 'imgs/thanks.svg' %}" alt="Logo" class="img-fluid" style="max-width: 300px;">
            </div>
        </div>
    </div>
</section>

{% endblock %}