{% extends "base.html" %}
{% load static %}
{% block tittle %} Informáticos {% endblock tittle %}
{% block conteudo %}

<!-- Menu -->
<div class="container custom-container mb-5 py-3">
    <div class="row g-0">
        <div class="col-md-8 d-flex justify-content-start align-items-center">
            <h1 class="text-white text-left" style="font-size: 3.5em;">
                Projetos do curso de <a class="roxinho">{{curso.titulo}}</a> 
            </h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
            <img src="{{curso.logo.url}}" alt="Logo" style="max-height: 20rem;">
        </div>
    </div>
</div>

<!-- Feed -->
<div class="container-fluid blueback">
    <div class="container custom-container">
        <div class="row g-2 d-flex align-items-center">
            {% for x in range%}
                {% for projeto in projetos %}
                <div class="col-md-6">
                  <div class="card py-1">
                      <div class="row">
                        <div class="col-md-6">
                          <img src="{{ projeto.capa.url }}" class="w-100 img-fluid rounded-0" alt="...">
                        </div>
                        <div class="col-md-6">
                          <div class="card-body py-0">
                            <h5 class="card-title roxinho">{{ projeto.titulo }}</h5>
                            <p class="card-text">{{ projeto.descricao }}</p>
                            <a class="text-end laranja" href="{% url 'post' projeto.id %}">Ver Post</a>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

        <nav class="py-3" aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item">
                <a class="page-link roxinho">Previous</a>
              </li>
              <li class="page-item"><a class="page-link laranja" href="#">1</a></li>
              <li class="page-item"><a class="page-link laranja" href="#">2</a></li>
              <li class="page-item"><a class="page-link laranja" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link roxinho" href="#">Next</a>
              </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock conteudo %}