{% extends 'base.html' %}
{% load static %}
{% block tittle %}
  {{ curso.titulo }}
{% endblock %}
{% block conteudo %}
  <!-- Menu -->
  <div class="container mb-5 py-3 x">
    <div class="row g-0">
      <div class="col-md-8 ms-auto my-auto">
        <h1 class="text-white">Projetos do curso de <a class="roxinho text-decoration-none">{{ curso.titulo }}</a></h1>
      </div>

      <div class="col-md-4 d-flex my-auto">
        {% if curso.logo %}
          <img src="{{ curso.logo.url }}" class="ms-auto mw-100" alt="{{ curso.titulo }}" style="max-height: 12em;" />
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Feed -->
  <div class="container-fluid blueback">
    <div class="container" id="lista-projetos">
      {% include 'partials/_cursofeed.html' %}
    </div>
  </div>
{% endblock %}
