{% extends "base.html" %}
{% load static %}
{% block tittle %} Ambientalistas {% endblock tittle %}
{% block conteudo %}

<!-- Menu -->
<div class="container custom-container mb-5 py-3">
    <div class="row g-0">
        <div class="col-md-8 d-flex justify-content-start align-items-center">
            <h1 class="text-white text-left" style="font-size: 3.5em;">
                Projetos do curso de <a class="roxinho">Meio ambiente</a> 
            </h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
            <img src="{% static 'imgs/mamb.svg' %}" alt="Logo" style="max-height: 20rem;">
        </div>
    </div>
</div>

<!-- Feed -->
<div class="container-fluid blueback">
    <div class="container custom-container">
        <div class="d-flex flex-wrap justify-content-evenly">
            {% for x in range%}
                {% for post in post %}
                <div class="card my-3 mx-1" style="max-width: 38em;">
                    <div class="row g-0">
                        <div class="col">
                        <img src="{% static "imgs/reuni.jfif" %}" class="w-100 img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col">
                        <div class="card-body">
                            <h5 class="card-title roxinho">{{post.titulo}}</h5>
                            <p class="card-text">{{post.justificativa}}</p>
                            <a class="text-end laranja" href="{% url "post" post.id %}">Ver Post</a>
                        </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
        <nav class="py-3" aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item">
                <a class="page-link roxinho">Previous</a>
              </li>
              <li class="page-item"><a class="page-link laranja" href="#">1</a></li>
              <li class="page-item"><a class="page-link laranja" href="#">2</a></li>
              <li class="page-item"><a class="page-link laranja" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link roxinho" href="#">Next</a>
              </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock conteudo %}