{% extends "base.html" %}
{% load static %}
{% block title %}Formulario{% endblock title %}
{% block conteudo %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>

<div class="container custom-container mb-5 py-3">
  <h1 class="text-white text-center" style="font-size: 3.5em;">
    {% if projeto %}Edite seu {% else %}Adicione seu {% endif %}<a class="roxinho">projeto aqui!</a>
  </h1>
</div>

<div class="container-fluid blueback py-5">
  <div class="form-container mx-auto custom-container">
    <form action="{% if projeto %}
    {% url 'editar_projeto' projeto.id %}{% else %}{% url 'form_post' %}
    {% endif %}" method="POST" enctype="multipart/form-data" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row g-0">
        <div class="col-md-6 px-3">

          <!-- Título -->
          <div class="form-group">
            <label for="id_titulo">Título:</label>
            {{ form.titulo}}
          </div>

          
          <!-- Objetivo -->
          <div class="form-group">
            <label for="id_objetivo">Objetivo:</label>
            {{ form.objetivo }}
          </div>
          
          <!-- Resumo -->
          <div class="form-group">
            <label for="id_resumo">Resumo:</label>
            {{ form.resumo }}
          </div>

        </div>

        <div class="col-md-6 px-3">

          <!-- PDF -->
          <div class="form-group">
            <label for="id_pdf">Arquivo PDF:</label>
            {{ form.pdf }}
          </div>

          <!-- Capa do Projeto -->
          <div class="form-group">
            <label for="id_capa">Capa do projeto:</label>
            {{ form.capa }}
          </div>


          <!-- Fotos do Projeto -->
          <div class="form-group">
            <label for="id_imagens">Imagens do projeto:</label>
            <input type="file" name="imagens" id="id_imagens" multiple>
          </div>


          <!-- Componentes -->
          <div class="form-group">
            <label for="id_componentes">Componentes:</label>
            <select class="form-control bg-white" id="componentes" name="componentes" multiple>
              {% for componente in componentes %}
                <option class="text-dark" value="{{ componente.id }}">{{ componente.user__username }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Curso -->
          <div class="form-group">
            <label for="id_curso">Curso:</label>
            {{ form.curso }}
          </div>

          <!-- Palavras-Chave -->
          <div class="form-group">
            <label for="keywords">Palavras-Chave (separadas por vírgula):</label>
            {{ form.palavras_chave }}
          </div>


        
          <!-- Botão de Submissão -->
          <div class="form-group mt-4">
            <button class="btn btn-primary" type="submit">{% if projeto %}Salvar Alterações{% else %}Adicionar{% endif %}</button>
            {% if projeto %}
                <a href="{% url 'verperfil' %}" class="btn btn-secondary">Cancelar</a>
            {% endif %}
          </div>
        </div>
      </div>

      <script>
        $(document).ready(function() {
          // Inicializar Select2 com limites
          $('#alunos').select2({
            maximumSelectionLength: 3,
            placeholder: "Selecione até 3 alunos",
            allowClear: true
          });
      
          $('#componentes').select2({
            maximumSelectionLength: 5,
            placeholder: "Selecione até 3 alunos",
            allowClear: true
          });
      
          $('#orientadores').select2({
            maximumSelectionLength: 2,
            placeholder: "Selecione até 2 orientadores",
            allowClear: true
          });
        });
      </script>
{% endblock conteudo %}
