{% extends "base.html" %}
{% load static %}
{% block title %}Formulario{% endblock title %}
{% block conteudo %}
{% load crispy_forms_tags %}

<div class="container custom-container mb-5 py-3">
  <h1 class="text-white text-center" style="font-size: 3.5em;">
    {% if projeto %}Edite seu {% else %}Adicione seu {% endif %}<a class="roxinho">projeto aqui!</a>
  </h1>
</div>

<div class="container-fluid blueback py-5">
  <div class="form-container mx-auto custom-container">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
        <div class="form-group mt-4">
          <button class="btn btn-primary" type="submit">{% if projeto %}Salvar Alterações{% else %}Adicionar{% endif %}</button></button>
          {% if projeto %}
              <a href="{% url 'verperfil' %}" class="btn btn-secondary">Cancelar</a>
          {% endif %}
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
{% endblock conteudo %}
