{% extends "base.html" %}
{% load static %}
{% block title %} Início {% endblock  %}
{% block conteudo %}

<!-- Menu -->
<div class="container custom-container mb-3 py-3">
    <div class="row g-0">

      <div class="col-md-7 d-flex justify-content-start align-items-center">
          
        <h1 class="text-white text-left" style="font-size: 3.5em;">
              Plataforma dos <a style="color: rgb(255, 128, 0);">Projetos</a> <a style="color: rgb(228, 12, 228);">Integradores</a>
        </h1>

      </div>
      
      <div class="col-md-5 d-flex justify-content-end align-items-center">

        <img src="{% static 'imgs/LogoPPI.svg' %}" alt="Logo" style="max-height: 20rem;">

      </div>

    </div>
</div>

<!-- Destaques -->
<div class="container-fluid py-3 blueback">   
    <div class="container custom-container d-flex flex-column">

      <h1 class="laranja text-center">Destaques:</h1>
      
      <div id="postCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Slides -->
        <div class="carousel-inner">
          {% for post in posts %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="d-flex justify-content-center align-items-center">

                <a class="text-decoration-none" href="{% url 'post' post.id %}">
                  <div class="card" style="max-width: 40em;">
                    <div class="row">
  
                      <div class="col-md-6">
                      
                        <img src="{{ post.capa.url }}" class="img-fluid rounded-0 w-100 h-100" style="max-height: 100%;" alt="{{ post.titulo }}">
                      
                      </div>
                      
                      <div class="col-md-6 ">
                        
                        <div class="card-body py-2">

                          <h5 class="card-title roxinho">
                            {{ post.titulo }}
                          </h5>

                          <p class="card-text">
                            {{ post.objetivo }}
                          </p>

                        </div>
  
                      </div>
  
                    </div>
                  </div>
                </a>

              </div>
            </div>
          {% endfor %}
        </div>
      
        <button class="carousel-control-prev position-absolute top-50 start-0 translate-middle-y" type="button" data-bs-target="#postCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon position-absolute top-50 start-0 translate-middle-y" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>

        <button class="carousel-control-next position-absolute top-50 end-0 translate-middle-y" type="button" data-bs-target="#postCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon position-absolute top-50 end-0 translate-middle-y" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>

    </div>
</div>

<div class="container-fluid bandeira d-flex position-relative overflow-hidden" style="height: 500px;">
  <div class="row w-100 position-relative m-auto z-2 d-flex justify-content-evenly align-items-center">
    
      <div class="col-md-5 col-lg-5 col-sm-10 bandeira-content p-3 bg-white rounded shadow">
        
        <h3 class="laranja text-left">
          O que são projetos integradores?
        </h3>

        <p class="text-dark text-left">
            Os projetos integradores são iniciativas que conectam diferentes disciplinas e áreas do conhecimento do ensino médio integrado (entre outros). Esses projetos têm como objetivo principal consolidar a aprendizagem ao permitir que os estudantes apliquem na prática os conceitos teóricos aprendidos em sala de aula, muitas vezes atendendo demandas reais da comunidade, empresas ou setores públicos.
        </p>

      </div>
      
      <div class="col-md-5 col-lg-5 col-sm-10 bandeira-content p-3 bg-white rounded shadow">
        
        <h3 class="laranja text-left">
            O que é este site?
        </h3>
        
        <p class="text-dark">
            A Plataforma dos Projetos Integradores é um sistema que trás em suas mãos todos os projetos integradores do campus SPP já criados, permitindo que você possa visualizá-los.
        </p>
      
      </div>

  </div>

  <div class="position-absolute top-0 start-0 w-100 h-100 bg-image z-1" 
  style="background-image: url('{% static 'imgs/Tec.jfif' %}'); filter: blur(1px);"></div>
</div>

{% endblock conteudo %}