<div class="py-3">
  <ul class="pagination d-flex justify-content-end">
    {% if projetos.has_previous %}
      <li class="page-item">
        <a class="page-link laranja" href="?pagina=1&q={{ query }}">Início</a>
      </li>

      <li class="page-item">
        <a class="page-link roxinho2" href="?pagina={{ projetos.previous_page_number }}&q={{ query }}">Anterior</a>
      </li>
    {% endif %}

    <li class="page-item">
      <a class="page-link text-dark">Página {{ projetos.number }} de {{ projetos.paginator.num_pages }}.</a>
    </li>

    {% if projetos.has_next %}
      <li class="page-item">
        <a class="page-link roxinho2" href="?pagina={{ projetos.next_page_number }}&q={{ query }}">Próximo</a>
      </li>

      <li class="page-item">
        <a class="page-link laranja" href="?pagina={{ projetos.paginator.num_pages }}&q={{ query }}">Fim</a>
      </li>
    {% endif %}
  </ul>
</div>
