{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
  <!-- Projetos Mais Vistos -->
  <div class="container-fluid blueback">
    <section class="container py-5">
      <h2 class="roxinho mb-3">Resultados:</h2>
      <div class="row mb-2">
        {% for projeto in projetos %}
          <div class="col-md-4 mb-4">
            <a class="text-decoration-none" href="{% url 'post' projeto.id %}">
              <div class="card">
                <img src="{{ projeto.capa.url }}" alt="{{ projeto.titulo }}" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title roxinho2">{{ projeto.titulo }}</h5>
                  <p class="card-text">{{ projeto.descricao }}</p>
                </div>
              </div>
            </a>
          </div>
        {% empty %}
          <h4 class="laranja text-center">Nenhum projeto encotrado.</h4>
        {% endfor %}
        {% include 'paginacao.html' %}
      </div>

      <h2 class="roxinho mb-3">Projetos recentes:</h2>
      <div class="row">
        {% for projeto in projetos_novos %}
          <div class="col-md-4 mb-4">
            <a href="{% url 'post' projeto.id %}" class="text-decoration-none">
              <div class="card">
                <img src="{{ projeto.capa.url }}" alt="{{ projeto.titulo }}" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title roxinho2">{{ projeto.titulo }}</h5>
                  <p class="card-text">{{ projeto.descricao }}</p>
                </div>
              </div>
            </a>
          </div>
        {% empty %}
          <h4 class="laranja text-center">Nenhum projeto encotrado.</h4>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
