{% extends "base.html" %}
{% load static %}
{% block tittle %} Ver{{ post.titulo }} {% endblock tittle %}
{% block conteudo %}

<!-- Menu -->
<div class="container mb-3 py-5">
    <div class="row g-0">
        <div class="col-md-8 d-flex justify-content-start align-items-center">
            <div>
                <h1 class="roxinho text-left" style="font-size: 5em;">
                    {{post.titulo}}
                </h1>
                <p class="text-white text-left" style="font-size: 1.5em;">
                    {{post.justificativa}}
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
            {% if post.curso.logo %}
                <img src="{{ post.curso.logo.url }}" alt="Logo" style="max-height: 12rem;">
            {% endif %}
        </div>
    </div>
</div>

<!-- Sobre o projeto -->
<div class="container-fluid blueback">   
    <div class="container py-5">
        <div class="row g-0 py-2">
            <div class="col-md-5 d-flex justify-content-start align-items-center">
                
                <div id="carouselExample" class="carousel slide w-100 pe-3" data-bs-ride="carousel">
                    <!-- Indicadores -->
                    <div class="carousel-indicators">
                        {% for photo in post.photos.all %}
                        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="{{ forloop.counter0 }}" 
                                class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}" 
                                aria-label="Slide {{ forloop.counter }}"></button>
                        {% endfor %}
                    </div>
                
                    <!-- Slides -->
                    <div class="carousel-inner">
                        {% for photo in post.photos.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ photo.photo.url }}" class="d-block w-100" alt="Image {{ forloop.counter }}">
                            {% if photo.caption %}
                            <div class="carousel-caption d-none d-md-block">
                                <p>{{ photo.caption }}</p>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                
                    <!-- Controles -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>    
            <div class="col-md-7 d-flex justify-content-start align-items-center">
                <div class="w-100">
                    <p class="text-white text-left">
                        {{post.resumo}}
                    </p>
                    <div class="d-flex justify-content-end align-items-center py-2">
                        <a class="text-white text-left nav-link">Data de publicação: {{post.data_publi}}</a>
                        <a class="text-left ms-2" style="color: rgb(255, 145, 77);"> baixar PDF </a>
                    </div> 
                </div>
            </div>    
        </div>
    </div>
</div>

<!-- Componentes -->
<div class="container-fluid py-2">
    <div class="container container">

        <h1 class="text-center laranja">Alunos:</h1>
        
        <!-- Div alunos -->
        <div class="d-flex flex-wrap justify-content-evenly align-items-center py-2">
            {% for aluno in post.usuarios1.all %}
            <a href="{% url 'verperfil' %}" style="text-decoration: none;">
                <div>
                    <img src="{% if aluno.foto %} {{aluno.foto.url}} {% else %} {% static 'imgs/usericn.jpg' %}{% endif %}" style="max-width: 10rem;" class="rounded-circle" alt="...">
                    <h5 class="text-center roxinho mt-1">{{aluno.nome}}</h5>
                </div>
            </a>
            {% endfor %}
        </div>
        
        <h1 class="text-center laranja">Orientadores:</h1>

        <!-- Div orientadores -->
        <div class="d-flex flex-wrap justify-content-evenly align-items-center py-2">
            {% for aluno in post.usuarios2.all %}
            <a href="{% url 'verperfil' %}" style="text-decoration: none;">
                <div>
                    <img src="{% if aluno.foto %} {{aluno.foto.url}} {% else %} {% static 'imgs/usericn.jpg' %}{% endif %}" style="max-width: 10rem;" class="rounded-circle" alt="...">
                    <h5 class="text-center roxinho mt-1">{{aluno.nome}}</h5>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock conteudo %}