{% extends "base.html" %}
{% load static %}
{% block tittle %} Ver post.titulo {% endblock tittle %}
{% block conteudo %}

<!-- Menu -->
<div class="container mb-3 py-5">
    <div class="row g-0">
        <div class="col-md-8 d-flex justify-content-start align-items-center">
            <div>
                <h1 class="roxinho text-left" style="font-size: 5em;">
                    {{post.titulo}}
                </h1>
                <p class="text-white text-left" style="font-size: 1.5em;">
                    {{post.justificativa}}
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
            <img src="{% static 'imgs/infoweb.svg' %}" alt="Logo" style="max-height: 12rem;">
        </div>
    </div>
</div>

<!-- Sobre o projeto -->
<div class="container-fluid blueback">   
    <div class="container py-5">
        <div class="row g-0">
            <div class="col-md-4 d-flex justify-content-start align-items-center py-2">
                <img src="{% static 'imgs/placeholder.png' %}" alt="Logo" style="max-width: 100%;" class="pe-3">
            </div>    
            <div class="col-md-8 d-flex justify-content-start align-items-center">
                <div>
                    <h1 class="text-left laranja">Sobre o {{post.titulo}}</h1>
                    <p class="text-white text-left">
                        {{post.resumo}}
                    </p>
                    <div class="d-flex justify-content-end align-items-center py-2">
                        <a class="text-white text-left nav-link">Data de publicação: {{post.data_publi}}</a>
                        <a class="text-left ms-2" style="color: rgb(255, 145, 77);"> baixar PDF </a>
                    </div> 
                </div>
            </div>    
        </div>
    </div>
</div>

<!-- Componentes -->
<div class="container-fluid py-2">
    <div class="container container">

        <h1 class="text-center laranja">Alunos:</h1>
        
        <!-- Div alunos -->
        <div class="d-flex flex-wrap justify-content-evenly align-items-center py-2">
            {% for aluno in post.usuarios1.all %}
            <a href="{% url 'verperfil' %}">
            <div>
                <img src="{% static "imgs/usericn.jpg" %}" style="max-width: 10rem;" class="rounded-circle" alt="...">
                <h5 class="text-center roxinho mt-1">{{aluno.nome}}</h5>
            </div>
            </a>
            {% endfor %}
        </div>
        
        <h1 class="text-center laranja">Orientadores:</h1>

        <!-- Div orientadores -->
        <div class="d-flex flex-wrap justify-content-evenly align-items-center py-2">
            {% for prof in post.usuarios2.all %}
            <div>
                <img src="{% static "imgs/usericn.jpg" %}" style="max-width: 10rem;" class="rounded-circle" alt="...">
                <h5 class="text-center roxinho mt-1">{{prof.nome}}</h5>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock conteudo %}