{% extends 'base.html' %}
{% load static %}
{% block title %}Confirmar Exclusão{% endblock title %}
{% block conteudo %}

<div>
    <h1 class="text-white text-center">Tem certeza de que deseja excluir este projeto?</h1>
    <h1 class="roxinho"><strong>{{ projeto.titulo }}</strong></h1>

    <form method="GET" action="{% url 'excluir_projeto' projeto.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, excluir</button>
        <a href="{% url 'verperfil' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock conteudo %}
