{% extends "base.html" %}
{% load static crispy_forms_filters %}
{% block title %} Login {% endblock  %}
{% block conteudo %}
<div class="d-flex flex-column py-5">

  {% if form.non_field_errors %}
    <div class="blueback m-auto rounded-4 px-2 py-3 mb-4" style="width: 500px;">
      {% for error in form.non_field_errors %}
      <p class="laranja mb-0">{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <form style="width: 500px;" class="blueback rounded-4 m-auto p-5" method="post">
    {% csrf_token %}
    
    <h2 class="text-center roxinho">Login PPI</h2>

    <div class="form-group {% if form.username.errors %}has-error{% endif %}">
        <label for="username">Usuário</label>
        {{ form.username }}
        {% if form.username.errors %}
            <ul class="error-list">
                {% for error in form.username.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="form-group {% if form.password.errors %}has-error{% endif %}">
        <label for="password">Senha</label>
        {{ form.password }}
        {% if form.password.errors %}
            <ul class="error-list">
                {% for error in form.password.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>

{% endblock conteudo %}