{% extends 'registration/userbase.html' %}
{% load static crispy_forms_filters %}
{% block title %}
  Login
{% endblock %}
{% block conteudo %}
  <div class="d-flex flex-column py-5">
    {% if form.non_field_errors %}
      <div class="blueback m-auto rounded-4 px-2 py-3 mb-4" style="width: 500px;">
        {% for error in form.non_field_errors %}
          <p class="laranja mb-0">{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form style="max-width: 500px;" class="blueback rounded-4 m-auto p-5" method="post">
      {% csrf_token %}

      <h2 class="text-center roxinho">Login <a class="roxinho" href="{% url 'index' %}">PPI</a></h2>

      <div class="form-group {% if form.username.errors %}has-error{% endif %}">
        <label class="laranja" for="username">Usuário</label>
        {{ form.username }}
        {% if form.username.errors %}
          {% for error in form.username.errors %}
            <p class="text-danger fw-bold text-left ms-0">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="form-group {% if form.password.errors %}has-error{% endif %}">
        <label class="laranja" for="password">Senha</label>
        {{ form.password }}
        {% if form.password.errors %}
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <p class="text-danger fw-bold text-left ms-0">{{ error }}</p>
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>

      <div class="form-group">
        <button type="submit" class="btn">Login</button>
      </div>

      <div class="form-group">
        <a href="{% url 'cadastro' %}" class="text-white">Primeira vez aqui? Cadastre-se!</a>
      </div>
    </form>
  </div>
{% endblock %}
